.collapse:not(.show) {
  transition: 2s;
}

nav {
  background-image: linear-gradient(45deg, black, transparent);
  box-shadow: 5px 5px 5px linear-gradient(45deg, transparent, black);
}

.logout {
  position: absolute;
  right: 0;
  bottom: 9px;
}
